registry=https://registry.npmjs.org/
engine-strict=true
audit-level=low
ignore-scripts=true
min-release-age=2 # nosemgrep: package_managers.npm.npm-missing-minimum-release-age.npm-missing-minimum-release-age
allow-git=none
allow-file=none
allow-remote=none
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
